body{ 
    width: 90%;
    margin: 0 auto; 
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
}
.container2{
    border: 5px solid green;
    border-radius: 3px;
    display: flex;
    flex-direction:column;
    background-color: rgb(238, 238, 238);
    margin-bottom: 3%;
}
.button{
    background-color: #2079b0;
    border-radius: 5px;
    margin:3%;
    padding: 15px;
    font-size: 16px;
    font-weight:500;
    border: 0;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    color:whitesmoke; 
}
.button--clean{
    background-color: #f6ce1a; 
    margin:3% 1% 3% 3%; 
    padding: 15px; 
    color:black; 
}
.render__chiste{
    text-align: center;
    width: 75%;
    margin:0 auto;
} 
.render__chiste p,h3{
    width: 75%; 
    margin: auto auto 1% auto;
    /*arriba, der, abajo, izq*/
}
.render__chiste img{
    height: 50%;
    width: 50%;
}

.render__chiste fieldset{
    border-radius: 25px;
    margin:1% auto 1% auto; 
    width: 50%;
    padding: 2.5% 0 2.5% 0;
}


/*----------------------@ENCABEZADO------------------------------------*/
.encabezado{
    border: 2px solid blue;
    background-color:gainsboro;
    border-bottom: 3px solid rgb(140, 140, 140);
    border-right: 2px solid rgb(140, 140, 140);
    border-left: 2px solid rgb(140, 140, 140);
    border-top: 2px solid rgb(140, 140, 140);
    margin: 5% auto 5% auto;
    border-radius: 5px;
    text-align: center;
    display: flex; 
    flex-direction: column;
    width: 50%; 
    padding: 0 5% 5% 5%;
        /*arriba, der, abajo, izq*/
}


/*---------------------@CATEGORIAS-------------------------*/
.categorias{
    background-color:gainsboro;
    border-bottom: 3px solid rgb(140, 140, 140);
    border-right: 2px solid rgb(140, 140, 140);
    border-left: 2px solid rgb(140, 140, 140);
    border-top: 2px solid rgb(140, 140, 140);
    margin: 2% auto 2% auto;
    border-radius: 5px;
    text-align: center;
    display: flex; 
    flex-direction: column;
    width: 50%; 
    padding: 0 5% 5% 5%;
        /*arriba, der, abajo, izq*/
}
.categorias h2{
    font-size: 24px;
}
.categorias hr{
    width: 75%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.categorias__inputs{
    display: flex;
    width: 100%;
    margin-top: 5%;
}
.categorias__button{ 
    background-color: #2079b0;
    border-radius: 5px;
    margin:3%;
    padding: 15px;
    font-size: 16px;
    font-weight:500;
    border: 0;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    color:whitesmoke; 
}

.categorias__select{ 
    border-radius: 5px; 
    margin: 2% auto 5% auto;
        /*arriba, der, abajo, izq*/
    padding: 15px;
    font-size: 16px; 
    font-weight:500;
    border: 0;    
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15); 
    width: 100%;
}

.categorias__numChistes{      
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto auto auto auto;
}
.categorias__numChistes--input{    
    border-radius: 5px; 
    margin: 2% auto 5% auto;
        /*arriba, der, abajo, izq*/
    padding: 15px;
    font-size: 16px; 
    font-weight:500;
    border: 0;    
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15); 
    width: 100%;
}

 
/*--------------------@tematica-----------------------------*/
.tematica{
    background-color:gainsboro;
    border-bottom: 3px solid rgb(140, 140, 140);
    border-right: 2px solid rgb(140, 140, 140);
    border-left: 2px solid rgb(140, 140, 140);
    border-top: 2px solid rgb(140, 140, 140);
    margin: 2% auto 2% auto;
    border-radius: 5px;
    text-align: center;
    display: flex; 
    flex-direction: column;
    width: 50%; 
    padding: 0 5% 5% 5%;
        /*arriba, der, abajo, izq*/
}
.tematica h2{
    font-size: 24px;
}
.tematica__button{
    background-color: #2079b0;
    border-radius: 5px;
    margin:3%;
    padding: 15px;
    font-size: 16px;
    font-weight:500;
    border: 0;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    color:whitesmoke; 
}

.tematica hr{    
    width: 75%;
    margin-top: 1%;
    margin-bottom: 1%;
}

/*-----------------------@longitud---------------------------*/

.longitud{
    background-color:gainsboro;
    border-bottom: 3px solid rgb(140, 140, 140);
    border-right: 2px solid rgb(140, 140, 140);
    border-left: 2px solid rgb(140, 140, 140);
    border-top: 2px solid rgb(140, 140, 140);
    margin: 2% auto 2% auto;
    border-radius: 5px;
    text-align: center;
    display: flex; 
    flex-direction: column;
    width: 50%; 
    padding: 0 5% 5% 5%;
        /*arriba, der, abajo, izq*/ 
}
.longitud hr{    
    width: 75%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.longitud__cont{      
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto auto auto auto;
    display: flex;
    width: 80%;
    margin-top: 5%;
}
.longitud__select{ 
    border-radius: 5px; 
    margin: 2% auto 5% auto;
        /*arriba, der, abajo, izq*/
    padding: 15px;
    font-size: 16px; 
    font-weight:500;
    border: 0;    
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);  
}


/*-------------------------------@idioma---------------------------------*/

.idioma{
    background-color:gainsboro;
    border-bottom: 3px solid rgb(140, 140, 140);
    border-right: 2px solid rgb(140, 140, 140);
    border-left: 2px solid rgb(140, 140, 140);
    border-top: 2px solid rgb(140, 140, 140);
    margin: 2% auto 2% auto;
    border-radius: 5px;
    text-align: center;
    display: flex; 
    flex-direction: column;
    width: 50%; 
    padding: 0 5% 5% 5%;
        /*arriba, der, abajo, izq*/
}
.idioma__select{ 
    border-radius: 5px; 
    margin: 2% auto 5% auto;
        /*arriba, der, abajo, izq*/
    padding: 15px;
    font-size: 16px; 
    font-weight:500;
    border: 0;    
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);  
}
.idioma hr{    
    width: 75%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.idioma__cont{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto auto auto auto;
    display: flex;
    width: 80%;
    margin-top: 5%;
}
/*--------------------------@busqueda-----------------------------------*/
.busqueda{
    background-color:gainsboro;
    border-bottom: 3px solid rgb(140, 140, 140);
    border-right: 2px solid rgb(140, 140, 140);
    border-left: 2px solid rgb(140, 140, 140);
    border-top: 2px solid rgb(140, 140, 140);
    margin: 2% auto 2% auto;
    border-radius: 5px;
    text-align: center;
    display: flex; 
    flex-direction: column;
    width: 50%; 
    padding: 0 5% 5% 5%;
        /*arriba, der, abajo, izq*/ 
}

.busqueda__input{
    border-radius: 5px; 
    margin: 2% auto 5% auto;
        /*arriba, der, abajo, izq*/
    padding: 15px;
    font-size: 16px; 
    font-weight:500;
    border: 0;    
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15); 
}

.busqueda hr{    
    width: 75%;
    margin-top: 1%;
    margin-bottom: 1%;
}

/*-----------------------@cantidad--------------------------------*/
.cantidad{    
    background-color:gainsboro;
    border-bottom: 3px solid rgb(140, 140, 140);
    border-right: 2px solid rgb(140, 140, 140);
    border-left: 2px solid rgb(140, 140, 140);
    border-top: 2px solid rgb(140, 140, 140);
    margin: 2% auto 2% auto;
    border-radius: 5px;
    text-align: center;
    display: flex; 
    flex-direction: column;
    width: 50%; 
    padding: 0 5% 5% 5%;
        /*arriba, der, abajo, izq*/ 
}
.cantidad__numChistes{
    border-radius: 5px; 
    margin: 2% auto 5% auto;
        /*arriba, der, abajo, izq*/
    padding: 15px;
    font-size: 16px; 
    font-weight:500;
    border: 0;    
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);   
}
.cantidad hr{    
    width: 75%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.cantidad__cont{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto auto auto auto;
    display: flex;
    width: 50%;
    margin-top: 5%;
}
/*--------------------------@MENU-------------------------------------*/

.centrarya {  
    height: 60px; 
    text-align: center;
    background-color: #ffffff;
    position: -webkit-sticky;
    position: sticky;
    top: 1px; 
    width: 100%;
    
    margin: 25px auto 5px auto;
        /*arriba, der, abajo, izq*/
}
nav {
    position: relative;
    margin: -10px auto auto 12.5%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif; 
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  .todo-menu>li {
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  
  .todo-menu li a {
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-size: 22px;
  }
  
  .todo-menu li a:hover {
    background-color: #d6d6d6;
    border: 2px solid rgb(128, 128, 128);
    box-shadow: 2px 2px 5px #999;
  }
  

/*
  background-image: linear-gradient(to bottom right, #f3f3f3, #007fce);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15); 
  box-shadow: 2px 2px 5px #999;
*/